@media (max-width: 768px) {
  .nft-card {
  width: 350px;
  height: max-content;
}

  .img-container {
    width: 350px;
  }

  .image {
    width: 350px;
    height: 350px;
  }

  .nft-description {
  width: 350px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 16px;
  }

  .nft-card {
  width: 300px;
  height: max-content;
  margin: 80px auto;
  padding: 1rem;
}

  .img-container {
    width: 300px;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .nft-description {
  width: 300px;
  }
}